@model IEnumerable<UsandoAspNetCoreIdentity.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ClienteId" class="link-info">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClienteId" class="link-warning">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ClienteId" class="link-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
